/bin
/obj
/DeMalaPronta.Data/obj
/DeMalaPronta.Data/bin
/DeMalaPronta.Common/bin
/DeMalaPronta.Common/obj
/DeMalaPronta.Common.Tests/obj
/DeMalaPronta.Common.Tests/bin
/DeMalaPronta.Data.Tests/obj
/DeMalaPronta.Data.Tests/bin
/DeMalaPronta.Model/obj
/DeMalaPronta.Model/bin
/DeMalaPronta.Model.Tests/obj
/DeMalaPronta.Model.Tests/bin
/DeMalaPronta.Site/obj
/DeMalaPronta.Site/bin
/DeMalaPronta.Site.Tests/obj
/DeMalaPronta.Site.Tests/bin
